.problem-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    display: flex;
}

.tab-container {
    width: 75%;
    padding-right: 20px;
}

.tabcontent {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #4d535d;
}

.tabcontent h2,h6 {
    text-align: center;
}

.tabcontent p {
    line-height: 35px;
    font-size: 14px;
}

.tabcontent ul {
    line-height: 32px;
    font-size: 14px;
}

.tabcontent hr {
    border: 0.01em solid #d8d8d8;
}

.tabcontent select {
    width: 50%;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    padding: 10px;
    border-radius: 6px;
    color: #4c4c4c;
    cursor: pointer;
}

.file-section label {
    border: 1px solid #d8d8d8;
    padding: 6px;
    padding-left: 14%;
    padding-right: 10px;
    font-size: 13px;
    border-radius: 6px;
}

.tabcontent .file-section {
    width: 66%;
}

.tabcontent .file-section label {
    width: 49%;
}

.tabcontent .choose-file {
    border: 1px solid #ee13df;
    color: #ee13df;
    background: none;
    border-radius: 6px;
    padding: 6px;
    margin-right: 5px;
    width: 25%;
    height: 35px;
    cursor: pointer;
}

.tabcontent .choose-file:hover {
    background-color: #fcecfb;
}

.tabcontent .submit {
    opacity: 40%;
    cursor: not-allowed;
    background-color: #ee13df;
    color: #fff;
    padding: 6px;
    border: none;
    border-radius: 6px;
    width: 110px;
    font-size: 15px;
}

.tabcontent .score {
    border-radius: 5px;
    /*padding: 5px;*/
    background-color: #ff0000;
    color: #fff;
    border: none;
    width: 37%;
    height: 29px;
    font-size: 11px;
}

progress {
  background-color: #ff0000;
}

progress {
  color: #ff0000;
}

progress::-moz-progress-bar {
  background: #48BB78;
}

progress::-webkit-progress-value {
  background: #fff;
}

progress::-webkit-progress-bar {
  background: #fff;
}

.progress-text {
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 5px;
    color: white;
    font-size: 11px;
}

.tabcontent .action-buttons {
    border: 1px solid #afafaf;
    background: none;
    border-radius: 5px;
    padding: 4px 8px 0px 8px;
    font-size: 19px;
    cursor: pointer;
}

.tabcontent .action-buttons:hover {
    background-color: #eaeaea;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    font-size: 15px;
}

thead th {
    background-color: #fff;
    color: #acacac;
    font-size: 13px;
}

th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.tab {
    width: 100%;
    margin-left: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    display: inline-block;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.tab i {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.tabcontent {
    display: none;
}

.tab button {
    color: #4d535d;
    border: none;
    background: none;
    margin: 8px 11px 8px 0;
    font-size: 17px;
    cursor: pointer;
}

.tab button.active {
    color: #ee13df;
    border-bottom: 1px solid #ee13df;
}

.detail-section {
    width: 30%;
    margin-top: 20px;
    margin-right: 50px;
    /* display: none; */
}

.detail {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
}

.problem-status {
  position: relative;
  display: inline-block;
}

.problem-status-img {
    max-width: 25px;
}

.problem-status .tooltiptext {
  visibility: hidden;
  width: 55px;
  font-size: 10px;
  background-color: #5b5b5b;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: visibility 0s, opacity 0.4s ease-in-out;
  top: -27px;
  left: -15px;
}

.problem-status:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.detail .title {
    color: #616161;
    background-color: #fff;
    box-shadow: none;
    font-size: 20px;
}

.detail .contest {
    font-size: 13px;
    color: #ee13df;
    text-decoration: none;
}

.detail .contest:hover {
    text-decoration: underline;
}

.detail .level {
    float: left;
    color: #fff; padding: 5px;
    font-size: 12px;
    border-radius: 8px;
}

.detail .easy {
    background-color: #00AF9B;
}

.detail .intermediate {
    background-color: #ffa400;
}

.detail .hard {
    background-color: #ff0000;
}

.detail .reaction {
    border: 1px solid #afafaf;
    background: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.detail .reaction:hover {
    background-color: #ebebeb;
}

.detail .reaction-img {
    max-width: 22px;
    margin-top: 4px;
}

.detail label.tags {
    font-size: 13px;
    background-color: #EDF2F7;
    color: #6f6a6a;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.detail label.tags:hover {
    background-color: #d9d9d9;
}

@media (max-width: 768px) {
    .problem-container {
        flex-direction: column;
    }

    .detail-section {
        width: 100%;
        order: -1;
        background-color: #fff;
        border-radius: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .tab-container {
        width: 100%;
        padding-right: 0;
    }

    .tabcontent .score {
        font-size: 12px;
        width: 60%;
    }

    .tabcontent select {
        width: 100%;
    }

    .tabcontent .file-section {
        width: 100%;
    }

    .tabcontent .submit {
        width: 100%;
    }

    .tabcontent .choose-file {
        margin-right: 7px;
        width: 47%;
    }

    .detail .reaction {
        font-size: 20px;
        width: 19%;
    }

    .tabcontent .action-buttons {
        width: 40%;
        font-size: 13px;
    }
}