{% extends 'base/base.html' %}
{% load static %}
{% load jalali_tags %}
{% load problemset_extras %}

{% block title %}{{ problem.title }}{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'problemset/css/problem.css' %}">

<section class="py-5 head">
    <div class="problem-container" dir="ltr">
        <div class="tab-container" dir="rtl">
            <div class="tab">
                <i class="bi bi-bookmark" style="cursor: pointer;"></i>
                <button class="tablinks" onclick="openSection(event, 'problem')" id="problem-tab" style="margin-right: 25px;">سوال</button>
                <button class="tablinks" onclick="openSection(event, 'submissions')" id="submission-tab">ارسال ها</button>
              </div>

              <!-- Tab content -->
              <div id="problem" class="tabcontent">
                <h2>{{ problem.title }}<i class="bi bi-printer" style="float: left; cursor: pointer;"></i></h2>
                <ul>
                    <li>محدودیت زمان: {{ problem.time_limit }} ثانیه</li>
                    <li>محدودیت حافظه: {{ problem.memory_limit }} مگابایت</li>
                </ul>
                <hr>
                <p>{{ problem.detail }}</p>
                <hr>
                <h6>ارسال پاسخ برای این سوال</h6><br>
                <select id="languageSelect">
                    {%  for language in problem.languages.all %}
                        <option>{{ language }}</option>
                    {% endfor %}
                </select>
                <br style='content: "";margin: 2em;display: block;font-size: 20%;'>
                <div class="file-section">
                    <label>
                        <i class="bi bi-paperclip" id="filename-label"> فایلی انتخاب نشده است</i>
                    </label>
                    <form action="{% url 'problemset:create_submission' %}" onsubmit="getLanguage()" method="post" enctype="multipart/form-data" style="display: inline">
                        {% csrf_token %}
                        <label class="choose-file" for="choosefile" style="width: 25%; text-align: center">انتخاب فایل</label>
                        <input id="choosefile" type="file" name="submission-file" style="display: none">
                        <input type="hidden" value="{{ problem.pk }}" name="problem">
                        <input type="hidden" id="languageName" value="" name="language">
                        <br><br>
                        <button class="submit" id="submit">ارسال پاسخ</button>
                    </form>
                </div>
              </div>

              <div id="submissions" class="tabcontent">
                <table dir="rtl">
                    <thead>
                        <tr>
                            <th>زمان ارسال</th>
                            <th>نوع فایل</th>
                            <th>وضعیت</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        {%  for submission in problem.users.all|get_submissions:user %}
                            <tr>
                                <td>{{ submission.submitted_date|to_jalali:'%Y/%m/%d / %H:%M'|to_persian }}</td>
                                <td>{{ submission.language }}</td>
                                <td>
                                    {% if submission.score %}
                                        <progress class="score" id="progress" value="{{ submission.score }}" max="100">
                                        {{ submission.score }}
                                        </progress >
                                    {% else %}
                                        <progress class="score" id="progress" value="0" max="100" style="background-color: #fce600ff">
                                        درحال بررسی
                                        </progress >
                                    {% endif %}
                                </td>
                                <td>
                                    <button class="action-buttons"><i class="bi bi-download"></i></button>
                                    <button class="action-buttons"><i class="bi bi-code-slash"></i></button>
                                    <button class="action-buttons"><i class="bi bi-file-earmark-bar-graph-fill"></i></button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
              </div>
        </div>

        <div class="detail-section" id="detailSection" dir="rtl">
            <div class="detail">
                <div class="problem-status">
                    {% if problem.users.all|is_solved:user %}
                        <span class="tooltiptext">حل کامل</span>
                        <img class="problem-status-img" src="{%  static 'problemset/icons/solved.png' %}" alt="solved">
                    {% elif problem.users.all|is_partial:user %}
                        <span class="tooltiptext">حل ناتمام</span>
                        <img class="problem-status-img" src="{%  static 'problemset/icons/partial.png' %}" alt="partial">
                    {% else %}
                        <span class="tooltiptext">بدون تلاش</span>
                        <img class="problem-status-img" src="{%  static 'problemset/icons/no-try.png' %}" alt="no try">
                    {% endif %}
                </div>

                <label class="title">{{ problem.title }}</label><br>
                <a href="#" class="contest">{{ problem.contest.name }}</a>

                {% if problem.level == "easy" %}
                    <label class="level easy">ساده</label><br><br>
                {% elif problem.level == "intermediate" %}
                    <label class="level intermediate">متوسط</label><br><br>
                {% else %}
                    <label class="level hard">سخت</label><br><br>
                {% endif %}

                <div>
                    <button class="reaction">24 <img class="reaction-img" src="{%  static 'problemset/icons/thumbs-up.png' %}"></button>
                    <button class="reaction">24 <img class="reaction-img" src="{%  static 'problemset/icons/thumbs-down.png' %}"></button>
                    <button class="reaction">24 <img class="reaction-img" src="{%  static 'problemset/icons/thinking-face.png' %}"></button>
                    <button class="reaction">24 <img class="reaction-img" src="{%  static 'problemset/icons/cake.png' %}"></button>
                    <button class="reaction">24 <img class="reaction-img" src="{%  static 'problemset/icons/cry-face.png' %}"></button>
                </div><br>
                <label style="color: #696969;">برچسب ها</label>
                <br style='content: "";margin: 2em;display: block;font-size: 14%;'>
                {%  for tag in problem.tags.all %}
                    <label class="tags">{{ tag }}</label>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<script src="{%  static 'problemset/js/problem.js' %}"></script>

{% endblock content %}