{% extends 'base/base.html' %}
{% load static %}
{% load problemset_extras %}

{% block title %}بانک سوالات{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'problemset/css/style.css' %}">

<section class="py-5 head">
    <div class="problemset-container" dir="ltr">
        <div class="table-container" dir="rtl">
            <div class="search-box">
                <i class="bi bi-search"></i>
                <input type="text" placeholder="جستجوی نام سوال ...">
            </div>

            <button class="filter-toggle-button" onclick="toggleFilterSection()">جستجوی پیشرفته</button>

            <div class="table-section">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>نام سوال</th>
                            <th>تعداد حل</th>
                            <th>سختی</th>
                            <th>دسته بندی</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for problem in problemset %}
                            <tr>
                                <td class="problem-status">
                                {% if problem.users.all|is_solved:user %}
                                    <span class="tooltiptext">حل کامل</span>
                                    <img class="problem-status-img" src="{%  static 'problemset/icons/solved.png' %}" alt="solved">
                                {% elif problem.users.all|is_partial:user %}
                                    <span class="tooltiptext">حل ناتمام</span>
                                    <img class="problem-status-img" src="{%  static 'problemset/icons/partial.png' %}" alt="partial">
                                {% else %}
                                    <span class="tooltiptext">بدون تلاش</span>
                                    <img class="problem-status-img" src="{%  static 'problemset/icons/no-try.png' %}" alt="no try">
                                {% endif %}
                                </td>

                                <td class="title"><a href="#">{{ problem.title }}</a><br><span>{{ problem.contest.name }}</span></td>
                                <td style="font-size: 14px; color: #7b7b7b;">{{ problem.get_number_of_solves }} از {{ problem.users.all|length }}</td>

                                {% if problem.level == "easy" %}
                                    <td style="color: rgb(0,213,188);">ساده</td>
                                {% elif problem.level == "intermediate" %}
                                    <td style="color: rgb(255,174,0);">متوسط</td>
                                {% else %}
                                    <td style="color: rgb(255,0,0);">سخت</td>
                                {% endif %}

                                <td class="tags">
                                    {% for tag in problem.tags.all %}
                                        <a href="#">{{ tag.name }}</a>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="pagination">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}"><i class="bi bi-arrow-right-short"></i></a>
                {% else %}
                    <i class="bi bi-arrow-right-short" style="opacity: 50%"></i>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <a href="#" class="active">{{ num }}</a>
                    {% else %}
                        <a href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}"><i class="bi bi-arrow-left-short"></i></a>
                {% else %}
                    <i class="bi bi-arrow-left-short" style="opacity: 50%"></i>
                {% endif %}
            </div>
        </div>

        <div class="filter-section" id="filterSection" dir="rtl">
            <div class="status">
                <label class="title">وضعیت حل</label>
                <hr aria-orientation="horizontal">
                <input type="checkbox" id="full-solved" name="full-solved" value="Bike">
                <label for="full-solved"> حل کامل</label><br>
                <input type="checkbox" id="half-solved" name="half-solved" value="Car">
                <label for="half-solved"> حل ناتمام</label><br>
                <input type="checkbox" id="to-try" name="to-try" value="Car">
                <label for="to-try"> بدون تلاش</label><br>
            </div>

            <div class="status">
                <label class="title">سختی</label>
                <hr aria-orientation="horizontal">
                <input type="checkbox" id="simple" name="simple" value="Bike">
                <label for="simple"> ساده</label><br>
                <input type="checkbox" id="intermediate" name="intermediate" value="Car">
                <label for="intermediate"> متوسط</label><br>
                <input type="checkbox" id="hard" name="hard" value="Car">
                <label for="hard"> سخت</label><br>
            </div>

            <div class="status">
                <label class="title">برچسب ها</label>
                <hr aria-orientation="horizontal">
                <div style="OVERFLOW-Y:scroll; HEIGHT:250px">
                    {% for tag in tags %}
                        <input type="checkbox" id="{{ tag.name }}" name="{{ tag.name }}">
                        <label for="{{ tag.name }}"> {{ tag.name }}</label><br>
                    {% endfor %}
                </div>
            </div>

            <div class="status">
                <label class="title">مسابقه ها</label>
                <hr aria-orientation="horizontal">
                <div style="OVERFLOW-Y:scroll; HEIGHT:250px">
                    {% for contest in contests %}
                        <input type="checkbox" id="{{ contest.name }}" name="{{ contest.name }}">
                        <label for="{{ contest.name }}"> {{ contest.name }}</label><br>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>>

<script>
    function toggleFilterSection() {
        var filterSection = document.getElementById('filterSection');
        filterSection.style.display = (filterSection.style.display === 'none' || filterSection.style.display === '') ? 'block' : 'none';
    }
</script>

{% endblock content %}